@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}
<div class="row primary-red-text">
	<h1 class="text-center">Oops! We apologize for the inconvenience.</h1>
	<div class="col-md-4 col-sm-12">
		<img src="/images/PizzaCatGif.gif" class="w-100" />
	</div>
	<div class="col-md-8 col-sm-12 mt-3" style="text-align: justify;">
		<h3 class="mb-2">
			It seems like there was an error processing your request. Our team has been notified, and we are working diligently to resolve the issue. We appreciate your patience and understanding.
		</h3>
		<h3>
			In the meantime, we invite you to explore our delicious pizza menu and other mouthwatering offerings. We assure you that our pizzas are made with the freshest ingredients and crafted with love.
		</h3>
		<p style="text-align:right">
			<a class="btn btn-outline-danger" asp-page="Pizzas">I want to check the menu! <img src="~/images/pizza.png" class="objectSpin" /></a>
		</p>
	</div>
</div>






